name: Gatling Load Test

on:
  workflow_dispatch:

jobs:
  loadtest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Install SBT
        uses: olafurpg/setup-scala@v14
        #with:
        #  java-version: "adopt@1.17"

      - name: Run Gatling Tests
        run: sbt gatling:test

      - name: Upload Gatling Reports
        uses: actions/upload-artifact@v4
        with:
          name: gatling-results
          path: target/gatling
